{% extends 'base.html.twig' %}

{% block title %}Modifier un employé{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Modifier un employé</h1>

    <div class="row">
        <div class="col-6 mx-auto">
            {{ form(form_employe) }}
        </div>
    </div>
{% endblock %}
